<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 
    <title>Document</title>
</head>
<body>
    <h1>index.ejs</h1>

    str : <%= str %> <br/>
    number : <%= number %> <br/>
    date : <%= date %> <br/> 
    <a href = "Test">test</a><br/>

</body>
</html>